.Form{
        margin: 50px auto;
        padding: 16px;
        min-height: 700px;
        width: 500px;
        background-color: #f1f5f8;
        border-radius: 20px;
        box-shadow: 4px 3px 7px 2px #00000040;
}

.Items{
    list-style: none;
    color: #000140;
}